    .myslider {
      -webkit-appearance: none;
      width: 120px;
      height: 5px;
      background: #0a3242;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .myslider:hover {
      opacity: 1;
      
    }

    .myslider::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: #1c86af;
      cursor: pointer;
      border-radius:50%;
    }